<main>
    <div class="monthView_container">
        <div class="monthView_header">
            <h2>CURRENTMONTH</h2>
            <h3>Monday - April 26 - 2021</h3>
        </div>
        <div>

        </div>
    </div>
</main>
