<main class="mainView_month">
    <div class="day_weekView">
       <h3>Monday</h3> 
    </div>
    <div class="day_weekView">
       <h3>Tuesday</h3> 
    </div>
    <div class="day_weekView">
       <h3>Wednesday</h3> 
    </div>
    <div class="day_weekView">
       <h3>Thursday</h3> 
    </div>
    <div class="day_weekView">
       <h3>Friday</h3> 
    </div>
    <div class="day_weekView">
       <h3>Saturday</h3> 
    </div>
    <div class="day_weekView">
       <h3>Sunday</h3> 
    </div>
</main>
